
.navbar-custom {
  background-color: hsl(335, 61%, 31%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  color: white !important; /* Cambia el color del texto del enlace "Navbar" */
}
.navbar-nav .nav-link {
  color: white !important; /* Cambia el color del texto de los enlaces de navegación */
}

#tabla_id {
  width: 100%; /* Ajusta el ancho de la tabla al 100% del contenedor */
}

.card {
  max-width: 600px; /* Ajusta el ancho máximo de la tarjeta según sea necesario */
  margin: 0 auto; /* Centra la tarjeta horizontalmente */
}