tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
  }
  
  tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s; /* Corregido aquí */
  }
  
  tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
  }
  
 
  
  tbody tr td,
  tbody td td p,
  tbody tr td img {
    transition: .2s ease-in-out .5s;
  }
  
  tbody tr.hide td,
  tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out;
  }
  
.table_body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}